.App {
 width:  90%;
 margin: auto;
 height: 100vh;
 padding: 0px 5px;
 background-color: whitesmoke;
}

.ProfileContainer{
  display: flex;
  padding: 1px 2px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
}
.userName{
  padding: 3px;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    width:fit-content;
    background-color: #fff;
  }

  li {
    color: gray;
    background: white;
    display: block;
    padding: 1rem;
    margin: 0rem 0.5rem;
    text-decoration: none;
    border-bottom: 1px solid whitesmoke;
  }
    
 
  
  li:hover, li:focus-within {
    background: whitesmoke;
    color: blue;
    cursor: pointer;
  }



.avatar { 
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin: 2px;
}

.avatar__image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.userProfile{
  display: flex;
  align-items: center;
  padding-right: 2px;
}

.SchoolContainer{
  display: flex;
  margin: auto;
  padding-top: 10px;
  align-items: center;
}

.inputContainer{
  margin: auto;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  
}

.inputContainer > input , ul{
  margin: auto;
}

input{
  min-width: 50%;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid ;
  
}